@inherits LayoutComponentBase

<body>
    <div class="wrapper">
        <header>
            <Navigation></Navigation>
        </header>

        <main class="content">
            @Body
        </main>
    </div>
</body>
