@rendermode InteractiveServer

<nav class="navbar navbar-expand-lg navbar-light bg-light py-3 position-relative border-bottom">
    <div class="container-xxl d-flex align-items-md-center">
        <div class="">
            <a class="navbar-brand ms-3 brand">Твой дневник</a>
        </div>
    </div>
</nav>

@code {

}
